    <div class="about-section">
        <h1 style="text-align:center; padding: 0; margin: 0; color: #2e92aa">About Us</h1>
        <p>We are motivated young people from Azerbaijan.</p>
        <p></p>
      </div>
      
      <h2 style="text-align:center; padding: 0; margin: 0; color: #2e92aa">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="./images/Laman.jpg" alt="Laman" style="width:100%">
            <div class="container">
              <h3>Laman Alipashayeva</h3>
              <p class="title">CEO & Founder</p>
              <p>Laman is data scientist of the team. She is studying 4th year chemical engineering student at Baku Higher Oil School.</p>
              <p>alipashayeva.laman@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="./images/Elmir.jpg" alt="Elmir" style="width:100%">
            <div class="container">
              <h3>Elmir Abilov</h3>
              <p class="title">Data Scientist/Web developer</p>
              <p>Elmir is web developer and data scientist of the team. He is working as a junior researcher at eiLink MMC.</p>
              <p>elmir.abilov@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="./images/Nadir.jpeg" alt="Nadir" style="width:100%">
            <div class="container">
              <h3>Nadir Namazov</h3>
              <p class="title">Data Scientist</p>
              <p>Nadir is the data scientist of the team. He is working as petroleum engineer in BP plc.</p>
              <p>nadirnamazov97@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card">
            <img src="./images/Aysu.jpg" alt="Aysu" style="width:100%">
            <div class="container">
              <h3>Aysu Zamanova</h3>
              <p class="title">Designer/product owner</p>
              <p>Aysu is UI designer of the team. She is 4th year chemical engineering student at Baku Higher Oil School.</p>
              <p>aysunarizamanova@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="./images/Emil.jpg" alt="Emil" style="width:100%">
            <div class="container">
              <h3>Emil Karimov</h3>
              <p class="title">Web developer</p>
              <p>Emil has developed the website of the mAI Home. He works as a ROV support engineer in Saipem.</p>
              <p>kerimovemil96@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
      </div>