@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Material Dash</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="~/admin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="~/admin/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="~/admin/css/demo/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="~/admin/images/favicon.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HackatonProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HackatonProject.styles.css" asp-append-version="true" />
</head>
<body>
        <header id="ourHeader" class="bg-secondary">
        <nav class="bg-secondary navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 text-white">
            <div class="container-fluid">
                <a class="text-white text-decoration-none mr-5 px-5" style="font-size: 45px" asp-area="" asp-controller="Home" asp-action="Index">
                    <img style="width: 78px; height: 63px; border-radius: 10px" src="~/images/WhatsApp Image 2022-09-09 at 23.05.37.jpeg"/>
                    m.AI Home</a>
                <div class="bg-secondary navbar-collapse collapse d-sm-inline-flex justify-content-between ml-5 pl-5">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-around">

                        <ul class="navbar-nav flex-grow-1">
                         <li class="nav-item">
                            <a class="nav-link text-white h5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                           @if (User.Identity.IsAuthenticated)
                                    {
                         <li class="nav-item">
                            <a class="nav-link text-white h5" asp-area="" asp-controller="Reports" asp-action="Index">Reports</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-white h5" asp-area="" asp-controller="Sockets" asp-action="Index">Your Preferences</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-white h5" asp-area="" asp-controller="Calculation" asp-action="Index">Calculation</a>
                        </li>
                        }
                         <li class="nav-item">
                            <a class="nav-link text-white h5" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                        </li>
                                                 <li class="nav-item">
                            <a class="nav-link text-white h5" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        </ul>

                        <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
                        
                              @if (User.Identity.IsAuthenticated)
                                    {
                            <li class="nav-item"><a class="nav-link text-white h5" asp-controller="Account" asp-action="Logout">@User.Identity.Name-Logout</a> </li>
                                    }
                                    else{
                        <li class="nav-item"><a class="nav-link text-white h5" asp-controller="Account" asp-action="Login">Login</a> </li>
                        <li class="nav-item"><a class="nav-link text-white h5" asp-controller="Account" asp-action="Register">Register</a> </li>
                                    }
                    </ul>
                    </ul>
                </div>
                <div class="header-top">
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="header-top-right text-right">
                                        <ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </nav>
    </header>
<script src="../assets/js/preloader.js"></script>
  <div class="body-wrapper">
    <div class="main-wrapper">
      <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
        <main class="auth-page">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                <div class="mdc-card">
                    <h1 style="margin-top: 20px; align-content: center; color: #205C06">User Registration</h1>
        <form style="background-color: #DAEFFF; width: 300px" class="pt-2 mt-3" method="post">
                  <div class="text-danger" asp-validation-summary=ModelOnly></div>

                <div style="width: 80px; height: 70px; margin-left: 20px " class="form-group">
                    <label style="font-weight: bold; margin-top: 30px;" asp-for="Fullname">Fullname</label>
                    <input style="height: 40px; width: 250px; margin-top: 10px; margin-bottom: 15px" class="form-control" placeholder="Fullname" asp-for="Fullname">
                    <span style="min-width: 230px; margin-top: 10px; display: block" asp-validation-for="Fullname" class="text-danger"></span>
                </div>
                <div style="width: 80px; height: 70px; margin-left: 20px" class="form-group">
                    <label style="font-weight: bold; margin-top: 35px;" asp-for="Username">Username</label>
                    <input style="height: 40px; width: 250px; margin-top: 10px; margin-bottom: 15px" class="form-control" placeholder="Username" asp-for="Username">
                    <span style="min-width: 230px; margin-top: 10px; display: block" asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div style="width: 80px; height: 70px; margin-left: 20px" class="form-group">
                    <label style="font-weight: bold; margin-top: 35px;" asp-for="Email">Email</label>
                    <input style="height: 40px; width: 250px; margin-top: 10px; margin-bottom: 15px" class="form-control" placeholder="Email" asp-for="Email">
                    <span style="min-width: 230px; margin-top: 10px; display: block" asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div style="width: 80px; height: 70px; margin-left: 20px" class="form-group">
                    <label style="font-weight: bold; margin-top: 35px;" asp-for="Password">Password</label>
                    <input style="height: 40px; width: 250px; margin-top: 10px; margin-bottom: 15px" class="form-control" placeholder="Password" asp-for="Password">
                    <span style="min-width: 230px; margin-top: 10px; display: block" asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div style="width: 80px; height: 70px; margin-left: 20px" class="form-group">
                    <label style="font-weight: bold; margin-top: 35px;" asp-for="ConfirmPassword">ConfirmPassword</label>
                    <input style="height: 40px; width: 250px; margin-top: 10px; margin-bottom: 15px" class="form-control" placeholder="ConfirmPassword" asp-for="ConfirmPassword">
                    <span style="min-width: 230px; margin-top: 10px; display: block" asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mt-3">
                  <button style="margin-left: 20px; margin-top: 30px" type="submit" class="btn btn-success">SIGN UP</button>
                </div>
                <div style="padding-bottom: 5px" class="text-center mt-4 font-weight-light">
                  Already have an account? <a style="text-decoration: none" asp-action="Login" class="text-primary">Login</a>
                </div>
              </form>

                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <!-- plugins:js -->
  <script src="~/admin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="~/admin/js/material.js"></script>
  <script src="~/admin/js/misc.js"></script>
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>
</html>
