<div class="row">
    <div class="col-lg-9">
        <div class="mapouter">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20223.905021071183!2d46.730689768742835!3d39.75913102564435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403e79fbdb4f6861%3A0x98c111af4e14ccb5!2sShusha!5e1!3m2!1sen!2s!4v1662797515921!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
    <div style="display: flex; flex-direction: column; align-items: flex-start; justify-content: left; margin-left: -100px" class="col-lg-3">
        <h3 style="color: #32525E; text-align: left; margin-top: 100px;">◉ Location</h3>
        <h4 style="color: #67A9C1; text-align: left; margin-right: 30px">Şuşa city, Ataturk st. 5.</h4>
        <h3 style="color: #32525E; text-align: left;">◉ Phone</h3>
        <h4 style="color: #67A9C1; text-align: left;">+994 70 977 55 57</h4>
        <h3 style="color: #32525E; text-align: left;">◉ E-mail</h3>
        <h4 style="color: #67A9C1; text-align: left">maihome@gmail.com</h4>
        <h3 style="color: #32525E; text-align: left">◉ Linkedin</h3>
        <h4 style="color: #67A9C1; text-align: left; font-size: 16px">https://www.linkedin.com/in/mai-home/</h4>
    </div>
</div>