<div class="row justify-content-around">

   <div class="col-4 row justify-content-center align-items-center">
    <h2 class="row justify-content-center">Living Room</h2>
    <div id="ssss1" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around mt-1 rounded-pill">
        TV
    </div "text-white h3 mt-3 ml-3 p-3 row justify-content-around mt-1 rounded-pill">


       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>

    <div id="ssss2" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        AC
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    <div id="ssss3" class="text-white h3  mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Gadgets
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    <div id="ssss4" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Spare socket
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    </div>

       <div class="col-4 row justify-content-center">
    <h2 class="row justify-content-center">Kitchen</h2>
    <div id="ssss5" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Fridge
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    <div id="ssss6" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Microwave
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    <div id="ssss7" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Juice Maker
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    <div id="ssss8" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Spare socket
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    </div>

       <div class="col-4 row justify-content-center">
    <h2 class="row justify-content-center">Bathroom</h2>
    <div id="ssss9" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Water heater
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    <div id="ssss10" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Dryer
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    <div id="ssss11" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Wahing machine
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    <div id="ssss12" class="text-white h3 mt-3 ml-3 w-75 p-3 row justify-content-around rounded-pill">
        Spare socket
    </div class="row justify-content-around">
       <div  class="text-white h5 mt-3 ml-3 w-25 p-3 row justify-content-center mt-1 rounded-pill bg-secondary">
        <a class="text-white h5 row justify-content-center text-decoration-none" asp-controller="Calculation" asp-action="Index">Set</a>
           

    </div>
    </div>


  
</div>