@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;" class="text-center">
    <h1 style="margin-top: 20px" class="tracking-in-expand display-4">Welcome to Your Smart House Control System</h1>
    <div style="display: flex; justify-content: center; min-width: 100%; min-height: 500px; border: none;">
        <img style="min-width: 80%; min-height: 500px; border: none; box-shadow: 20px 21px 20px 10px rgba(0,0,0,0.39); border-radius: 20px" src="~/images/unnamed (3).png" />
    </div>
</div>



